<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="./assets/ico/favicon.png">

    <title>G.I.M.L.I.: Grant Information Mapper and Linker Interface</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
      <script src="./assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="height: auto;">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./"><img src="./assets/images/logo-head.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="./">Home</a></li>
            <li><a href="./about">About</a></li>
            <li><a href="./explorer">Explorer</a></li>
            <li><a href="./novelty">Novelity</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
    {% block body %}{% endblock %}

    </div> <!-- /container -->

        {% block footer %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="./dist/js/bootstrap.min.js"></script>
    <!--    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>-->
    <script type="text/javascript" charset="utf-8" language="javascript" src="./assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="./assets/js/DT_bootstrap.js"></script>
<!--    <script type="text/javascript" charset="utf-8">
      var asInitVals = new Array();

      $(document).ready(function() {
          var oTable = $('#example').dataTable( {
            "oLanguage": {
            "sSearch": "Search all columns:"
            }
            } );

          $("thead#search input").keyup( function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter( this.value, $("thead#search th").index($(this).parent()) );
            } );
          } );
</script> -->
{% endblock %}
  </body>
</html>
